.MainLayout{
  display: flex;
  flex-direction: row;
  width: 100%;
} 
::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6948CB;
  border-radius: 5px;
  border: none;
}

/* Optional: Remove the scrollbar buttons (arrows) */
